@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.informacion {
    margin-left: 30px;
}

.home__info {
    font-size: 40px;
    color: #ffffff;
    line-height: -10vh;
    margin-top: -200px;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
}

.informacion p {
    font-size: 18px;
    color: #ffffff;
    line-height: -10vh;
    margin-top: 10px;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
}

.home__link {
    font-size: 20px;
    color: #ffffff;
    line-height: -10vh;
    margin-top: 10px;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

.home__link:hover {
    color: #8f8f8f;
}